@font-face {
    font-family: 'Pretendard';
    src: url('/public/fonts/PretendardVariable.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

.GoalStar {
    width: 100%;
    height: 100vh;
    color: white;
    background-color: #303030;
    font-family: 'Pretendard';
    overflow: hidden;
    position: relative;
}
.goalstar {
    height: 70px;
    border-bottom: 2px solid black;
    display: grid;
    place-items: center;
    font-size: 20px;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.starName {
    display: grid;
    padding: 8px 28px;
    margin-top: 40px;
    border-radius: 8px;
    background-color: #464646;
    place-content: center;
    font-size: 20px;
}
.per {
    display: flex;
    color: #F2FF62;
    font-size: 15px;
    margin-top: 30px;
}
.perline {
    width: 250px;
    height: 10px;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 46px;
    background-color: #5B5B58;
}
.perline > div {
    width: 100%;
    height: 10px;
    border-radius: 46px;
    background-color: #F2FF62;
    box-shadow: 0 0 30px #F2FF62;
}
.starContainer {
    position: relative;
    margin-top: 30px;
    width: 344px;
    height: 405px;
}
.star1, .star2, .star3, .star4, .star5, .star6, .star7 {
    position: absolute;
    z-index: 1;
    fill: #F2FF62 49px;
    filter: drop-shadow(0 0 10px #F2FF62);
}
.star1 {
    left: 28.77906976744186%;
    top: 77.03703703703704%;
}
.star2 {
    left: 11.918604651162791%;
    top: 84.69135802469135%;
}
.star3 {
    left: 14.534883720930234%;
    top: 41.48148148148148%;
}
.star4 {
    left: 29.651162790697676%;
    top: 7.160493827160494%;
}
.star5 {
    left: 69.18604651162791%;
    top: 15.555555555555555%;
}
.star6 {
    left: 64.82558139534885%;
    top: 44.44444444444444%;
}
.star7 {
    left: 82.84883720930233%;
    top: 66.41975308641975%;
}
.lineContainer {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}

.finish {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: calc(50vh - 170px);
    left: calc(50% - 136px);
    background-color: #585858;
    border-radius: 27px;
    width: 273px;
    height: 345px;
}
.finishheader {
    width: 100%;
    height: 47px;
    background-color: #434343;
    border-radius: 27px 27px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    margin-bottom: 15px;
}
.finishstar {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}
.finishmessage {
    font-size: 16px;
}
.finishmessage > span {
    color: rgba(238, 255, 37, 91%);
}
.finishImg {
    width: 180px;
}

.goallist {
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: top 0.5s ease;
    border-radius: 24px 24px 0 0;
}
.bar {
    width: 120px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
    transition: all 0.5 ease;
}
.edit {
    position: absolute;
    top: 40px;
    right: 50px;
}
.p1, .p2 {
    width: 80%;
}
.p1 {
    font-size: 14px;
    color: #B9BBB9;
    margin-bottom: 5px;
}
.p2 {
    font-size: 18px;
}
.goallist > .per {
    margin: 20px 0;
    width: 80%;
}
.goallist .perline {
    width: 100%;
}