* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Mypage {
    width: 100%;
    height: 100vh;
    color: white;
    background-color: #303030;
}
.myPage {
    height: 70px;
    border-bottom: 2px solid black;
    display: grid;
    place-items: center;
    font-size: 20px;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myContainer {
    display: flex;
    width: 322px;
    height: 100px;
    background-color: #464646;
    border-radius: 20px;
    margin: 32px 0 39px;
}
.profile {
    width: 60px;
    height: 60px;
    margin: 20px 16px 0 28px;
}
.name {
    font-size: 20px;
    line-height: 90px;
    width: 200px;
}
.more {
    position: relative;
    left: -0px;
    top: 15px;
    width: 4px;
    height: 18px;
}
.myGoal {
    width: 322px;
    font-size: 22px;
}
.goalContainer {
    width: 322px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    margin: 19px 0 14px;
}
.goalContainer::-webkit-scrollbar {
    display: none; 
}
.goal {
    width: 100%;
    padding: 8px 0;
    display: grid;
    place-items: center;
    background-color: #464646;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 8px;
}
.this {
    font-size: 22px;
    padding: 24px 0;
    margin-bottom: 19px;
}
.goalMore {
    width: 32px;
    height: 42px;
}