@font-face {
    font-family: 'Pretendard';
    src: url('/public/fonts/PretendardVariable.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

.allcontainer {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #303030;
}

.title {
    height: 70px;
    border-bottom: 2px solid black;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #FFF;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.StarDicmain {
    display: flex;
    margin-left: 25px;  
    /* 이 margin-left 준 거 수정해야 함 */
    justify-content: flex-start;
    height: auto;
    flex-wrap: wrap;
    position: absolute;
    top: 15%;
}

.first-image,
.second-image,
.third-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 25px;
}

.StarDicp {
    box-sizing: content-box;
    color: white;
    display: flex;
    width: 77px;
    height: 22px;
    padding: 11px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #464646;
}

.StarDicimg {
    width: 149.886px; /* 필요에 따라 조정 */
    height: 190.189px; /* 필요에 따라 조정 */
    margin-bottom: 15px; /* 필요에 따라 조정 */
}